/**
 * @Description: 统一后端时间的返回格式，兼容IOS时间显示问题
 * @author: WE!D
 * @name: formatTime
 * @args: fullTime
 * @return: yyyy/mm/dd/ h:m:s
 * @date: 2020/6/18
*/
function formatTime(fullTime) {
  var timeStamp = Date.parse(fullTime);
  var date = getDate(timeStamp);
  var targetTime = "";
  var yyyy = date.getFullYear(),
      mm = date.getMonth() + 1 < 10 ? "0" + (date.getMonth()+1) : date.getMonth() + 1,
      dd = date.getDate() < 10 ? "0" + date.getDate() : date.getDate(),
      h = date.getHours() < 10 ? "0" + date.getHours() : date.getHours(),
      m = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes(),
      s = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();
  targetTime = yyyy + '/' + mm + '/' + dd +' '+ h +':'+ m+':'+ s;
  return targetTime;
};

var getMonthAndDayByFrag = function( fullTime,frag="/",transform=false){
  var date = getDate(fullTime);
  if( transform ){
    date = getDate(formatTime(fullTime));
  }else{
    date = getDate(fullTime.replace(getRegExp('-','g'),'/'));
  }
  var m = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1,
      d = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
  return m + frag + d;
};

var getHourAndMinByFrag = function( fullTime,frag=":",transform=false ){
  var date = getDate(fullTime);
  if( transform ){
    date = getDate(formatTime(fullTime));
  }else{
    date = getDate(fullTime.replace(getRegExp('-','g'),'/'));
  }
  var h = date.getHours() < 10 ? "0" + date.getHours() : date.getHours(),
      m = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
  return h + frag + m;
};

var getFullDateByFrag = function( fullTime,frag="/",transform=false ){
  var date = getDate(fullTime);
  if( transform ){
    date = getDate(formatTime(fullTime));
  }else{
    date = getDate(fullTime.replace(getRegExp('-','g'),'/'));
  }
  return date.getFullYear()+frag+getMonthAndDayByFrag(fullTime,frag,transform);
};

var saveDouble = function(number){
  return number.toFixed(2);
};

var hidePartPhoneNumber = function(phone){
  var targetPhone = phone;
  // var reg = new RegExp(/(\d{3})\d{4}(\d{4})/,'g');
  if( phone.length < 11 ){
    return "微信一键授权"
  }
  targetPhone = phone.replace(getRegExp("(\d{3})\d{4}(\d{4})"), '$1****$2');
  return targetPhone;
};
module.exports = {
  getMonthAndDayByFrag: getMonthAndDayByFrag,
  getHourAndMinByFrag: getHourAndMinByFrag,
  getFullDateByFrag: getFullDateByFrag,
  saveDouble: saveDouble,
  hidePartPhoneNumber: hidePartPhoneNumber
};
