var getMonthAndDayByFrag = function( fullTime,frag="/" ){
  var date = getDate(fullTime),
      m = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1,
      d = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
  return m + frag + d;
};

var getHourAndMinByFrag = function( fullTime,frag=":" ){
  var date = getDate(fullTime),
      h = date.getHours() < 10 ? "0" + date.getHours() : date.getHours(),
      m = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
  return h + frag + m;
};

var getFullDateByFrag = function( fullTime,frag="/" ){
  var date = getDate(fullTime);
  return date.getFullYear()+frag+getMonthAndDayByFrag(fullTime);
};

var saveDouble = function(number){
  return number.toFixed(2);
};

var hidePartPhoneNumber = function(phone){
  var targetPhone = phone;
  // var reg = new RegExp(/(\d{3})\d{4}(\d{4})/,'g');
  if( phone.length < 11 ){
    return "微信一键授权"
  }
  targetPhone = phone.replace(getRegExp("(\d{3})\d{4}(\d{4})"), '$1****$2');
  return targetPhone;
};
module.exports = {
  getMonthAndDayByFrag: getMonthAndDayByFrag,
  getHourAndMinByFrag: getHourAndMinByFrag,
  getFullDateByFrag: getFullDateByFrag,
  saveDouble: saveDouble,
  hidePartPhoneNumber: hidePartPhoneNumber
};
